body {
    background: linear-gradient(90deg, #2F591A 10.94%, #27321D 31.25%, #2F581A 65.1%, #231E1E 83.46%);
}


/* .card {
    background-color: rgba(10, 10, 10, 0.7);
} */

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.carousel-indicators .active {
    background-color: blue;
}

.col-md-3 img {
    width: 227px;
    height: 222px;
}

body .carousel-indicator li {
    background-color: blue;
}

body .carousel-indicators {
    bottom: -35px;
}

.carousel-indicators li {
    background-color: #7270fc;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: blue;
}

.carousel-control-prev,
.carousel-control-next {
    top: auto;
    bottom: auto;
    padding-top: 222px;
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}

div.c {
    width: 1000px;
    margin: 10px;
    font-size: 20px;
    position: relative;
    left: 174px;
}

.product {
    margin-top: 6rem;
}

nav {
    position: absolute;
    width: 70rem;
    height: 55px;
    left: 14%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    background: #D43828;
    border-radius: 0px 0px 20px 20px;
    padding: 1rem;
}