{% extends "base.html" %}
{% block content %}
<nav>
    <p class="fast">FastFoody</p>
    <p class="home">Home</p>
    <p class="menu">Menu</p>
    <p class="about">AboutUs</p>
    <p class="services">Services</p>
    <p class="cart">Cart</p>
    <p class="log">Logout</p>

</nav>




<style>
    nav{
        position: absolute;
        width: 70rem;
        height: 55px;
        left: 7%;
        top: 0px;
        display: flex;
        justify-content: space-between;
        color: antiquewhite;
        background: #D43828;
        border-radius: 0px 0px 20px 20px;
        padding: 1rem;

    }
    
</style>
{% endblock %}
