<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a70663aaec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/products.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <p class="fast">FastFoody</p>
        <a href="{%url 'products'%}" style="color: #ffffff; text-decoration: none;"> <p>Home</p></a>
        <a style="text-decoration: none;color: white;" href="{%url 'menu'%}">
            <p class="menu">Menu</p>
        </a>
        <p class="about">AboutUs</p>
        <a style="text-decoration: none;color: white;" href="">
            <p class="menu">Services</p>
        </a>
        <p class="cart">Cart</p>
        <a style="text-decoration: none;color: white;" href="/logout">
            <p class="log">Logout</p>
        </a>
    </nav>
    <div>&nbsp;
        <a href="/products" class="active text-dark">
            <i class="fas fa-qrcode"></i>
            <span>All Food</span>
        </a>
    </div>

    <div class="container my-4 single">
        <div class="row">
            {% for image in image %}
           
              
       

            <div class="col-md-8" style="background: rgba(35, 30, 30, 0.7); color:white;">
                <img src="{{image.image.url}}" width="233px" height="300px">
                <h5>{{image.image_name}}</h5>
                <p><b>Ksh. {{image.price}} </b></p>
                <p>{{image.desc}}</p>
                <div class='alert alert-info col-md-4 col-md-offset-4'>
                    <center>Click <a href='' class='alert-link'>Here</a> to Order.</center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <style>
        nav {
        position: absolute;
        width: 70rem;
        height: 55px;
        left: 7%;
        top: 0px;
        display: flex;
        justify-content: space-between;
        color: antiquewhite;
        background: #D43828;
        border-radius: 0px 0px 20px 20px;
        padding: 1rem;
    }</style>
    </style>
</body>

</html>