<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a70663aaec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/products.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <nav>
            <p class="fast">FastFoody</p>
            <p class="home">Home</p>
            <a style="text-decoration: none;color: white;" href="{%url 'menu'%}">
                <p class="menu">Menu</p>
            </a>
            <p class="about">AboutUs</p>
            <a style="text-decoration: none;color: white;" href="">
                <p class="menu">Services</p>
            </a>
            <p class="cart">Cart</p>
            <a style="text-decoration: none;color: white;" href="/logout">
                <p class="log">Logout</p>
            </a>
            <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-html="true" data-toggle="popover" title="MyCart" data-placement="bottom" data-content="Bottom popover">
                Cart(<span id="cart">0</span>)
              </button>
        </nav>
        <div class="product">
            <!--Slideshow starts here -->
            {% for product, range, nSlides in allProds %}
            <h3 class="my-4">{{product.0.category}}</h3>
            <div class="row">
                <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                        {% for i in range %}
                        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                        {% endfor %}
                    </ul>
                    <div class="container carousel-inner no-padding">
                        <div class="carousel-item active">
                            {% for i in product %}
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="card align-items-center" style="width: 18rem;">
                                    <img src='{{i.image.url}}'>
                                    <div class="card-body">
                                        <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name|slice:"0:20"}}...</h5>
                                        <h6 style="color: #ff0000">Ksh. <i id="pricepr{{i.id}}">{{i.price}}</i>/-</h6>
                                        <p class="card-text">{{i.desc|slice:"0:23"}}...</p>
                                        <span id="divpr{{i.id}}" class="divpr">
                                        <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                                    </span>
                                        <a href="{% url 'imagedetails' i.id %}"> <button id="qv{{i.id}}" class="btn btn-primary cart">Quick View</button> </a>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                        </div>
                        <div class="carousel-item">
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- left and right controls for the slide -->
                <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/app.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
    </script>
</body>

</html>