{% extends "base.html" %}
{% block content %}
<div class="me">
    <nav>
        <p class="fast">FastFoody</p>
        <p class="home">Home</p>
     <a  style="text-decoration: none;color: white;"  href="{%url 'menu'%}">   <p class="menu">Menu</p></a>  
        <p class="about">AboutUs</p>
        <a  style="text-decoration: none;color: white;"  href="{%url 'services'%}">   <p class="menu">Services</p></a>  
     
        <p class="cart">Cart</p>
      <a style="text-decoration: none;color: white;" href="/logout"><p class="log">Logout</p></a> 
    
    </nav>
    <section class="sec">
   


      
    </section>
    
    
    
    <style>
        nav{
            position: absolute;
            width: 70rem;
            height: 55px;
            left: 7%;
            top: 0px;
            display: flex;
            justify-content: space-between;
            color: antiquewhite;
            background: #D43828;
            border-radius: 0px 0px 20px 20px;
            padding: 1rem;
    
        }
     
    </style>
</div>

{% endblock %}
